body{
    /* display: flex;
    flex-flow: row wrap; */
    padding: 0;
}

.notification{
  position: absolute;
  display: block;
  margin: 0;
  background-color: rgba(238, 227, 227, 0.7);
  color: red;
  border: 2px solid firebrick;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
  font-size: 1.3em;
  cursor: pointer;
}

.notification .close{
  position: absolute;
  font-family: monospace;
  color: black;
  top: -10px;
  right: -10px;
  display: block;
}

.notification:hover{
  border-color: tomato;
}

.welcome{
  background-color: gray;
}

table {
    border-collapse: collapse;
    margin: 15px;
  }

  td,
  th {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
  }

  th {
    font-weight: bold;
    background-color: #E6E6E6;
  }

  .slider {
    border-radius: 5px;
    background: #E0E0E0;
    background: linear-gradient(left top, #E0E0E0, #EEEEEE);
    width: 310px;
    height: 15px;
    position: relative;
    margin: 5px;
  }
  
  .thumb {
    width: 10px;
    height: 25px;
    border-radius: 3px;
    position: absolute;
    left: 10px;
    top: -5px;
    background: blue;
    cursor: pointer;
  }