@import url("normalize.css");

*{
	outline: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html{
	width: 100%;
	height: 2200px;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 27px;
	background-color: #fff;
}

.clearfix:after {
	content: " ";
	display: table;
	clear: both;
}


.container{
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 0 auto;
	padding: 15px 0;
	max-height: 100%;
    justify-content: space-between;
}

.twoImages figcaption,
.middleText
{
	color: #fff;
}

img{
 	height: auto;
    width: 100%;
}

.half{
	display: block;
	width: 48%;
}

a{
	text-decoration: none;
}

/*header*/

header{
	color: #2c4655;
	border-top: 10px solid #ed0f0f;
	align-items: center;
}

header .container{
	padding: 50px 0;
	flex-direction: row;
}

nav{
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: 1.22222222rem;
}

header .logo{
	font-size: 1.85rem;
	text-transform: uppercase;
}

header .logo span{
	font-weight: lighter;
	color: #ed0f0f;
}

nav a{
	color: #2c4655;
}

nav a#current{
	color: #ed0f0f;
	padding: 5px 0;
	border-bottom: 2px solid #ed0f0f;
}

/*end header*/

/*two images*/

.twoImages .container{
	flex-direction: row;
}

.twoImages figure{
	color: #fff;
	width: 48%;
	position: relative;
}

.twoImages figcaption{
	position: absolute;
	display: block;
	background-color: #2c4655;
	bottom: 0;
	width: 100%;
	z-index: 100;
	padding: 10px 15px;
	font-size: 1.185185rem;
}

/*end twoImages*/

/*redText*/

section.redText,
div.redText{
	background-color: #ed0f0f;
	margin: 0;
}

section.left{
	text-align: left;
}

div.redText{
	margin-top: 30px;
	text-transform: uppercase;
}

/*threeImages*/

/*end redText*/

.threeImages{
	color: #626262;
}

.threeImages .container,
.threeImages .half,
.threeImages div.imagesText{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.threeImages .item{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 15px 0;
}

.threeImages div.imagesText{
	width: 48%;
	margin: 0 15px;
}

.threeImages h1{
	font-size: 1.40740rem;
	margin: 0;
}

.theeImages p{
	font-weight: lighter;
	margin: 40px 0;
}

.threeImages a{
	width: 40%;
	display: block;
	text-align: center;
	font-weight: bold;
	margin: 0;
	padding: 10px 0;
	background-color: #ed0f0f;
	color: #fff;
	border-radius: 1px;
}

/*end threeImagesCol*/

/*greyText*/

.grayText, .redText{
	background-color: #2c4655;
	color: #fff;
	text-align: center;
}

.grayText .container, .redText .container{
	padding: 30px 0;
}

.grayText h1, .redText h1{
	font-size: 1.481481rem;
	font-weight: bold;
	text-transform: uppercase;
	margin: 10px;
}

/*end grayText*/

/*imagesRow*/

.imagesRow .container{
	flex-direction: row;
}

.imagesRow figure{
	width: 100%;
}

.imagesRow div.imagesText{
	width: 100%;
	margin: 0;
}

.imagesRow .item{
	width: 32.35%;
	flex-direction: column;
	justify-content: flex-start;
}

.imagesRow h1{
	font-size: 1.296296rem;
}

.imagesRow p{
	font-size: 0.925925rem;
	margin: 5px 0;
}

.imagesRow a{
	width: 60%;
	padding: 10px 10px;
}

/*end imagesRow*/

/*footer*/

footer{
	color: #fff;
	background-color: #2c4655;
	padding-bottom: 40px;
	margin-top: 30px;
}

.contacts,
.contacts .links{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.contacts a{
	color: #fff;
}

.contacts .links{
	width: 48%;
}

.contacts .links ul{
	font-size: 1.037037rem;
	list-style: none;
}

.contacts .links ul h1{
	text-transform: uppercase;
	border-bottom: 2px solid #fff;
	padding: 2px;
	font-size: 1.037037rem;
}

.contacts .links ul li{
	margin: 5px 0;
}

.contacts .links ul a{
	padding: 3px;
}

.contacts .links ul a:visited{
	border-bottom: 2px solid #fff; 
}

.contacts .socials{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: right;
}

.contacts .socials .networks{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 10px 0;
}

.contacts .socials a.facebook,
.contacts .socials a.google,
.contacts .socials a.rss,
.contacts .socials a.twitter{
	display: block;
	width: 48px;
    height: 48px;
    background: url(../img/spritesheet.png) no-repeat;
    margin-left: 10px; 
}

.contacts .socials a.facebook {
   background-position: -179px -5px;
}

.contacts .socials a.google {
    background-position: -121px -5px;
}

.contacts .socials a.rss {
    background-position: -5px -5px;
}

.contacts .socials a.twitter {
    background-position: -63px -5px;
}

/*for big screens*/

@media screen and (min-device-width: 768px){
	body,
	html{
		font-size: 20px;
	}	

	.container{
		width: 70%;
	}

	.mainImages figure{
		width: 60%;
		height: auto;
		margin: 0 auto;
	}

	.twoImages figure{
		width: 48%;
	}
}